.movie{
    &__title{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &__table{
        margin-bottom: 1rem;
    }

    @import './search-bar';
}

@import './modal';